<!DOCTYPE html>
<html>
<head>
    <title> Login</title>
</head>

<body>
<br><br><center> <h1> {{status}} </h1> </center>

        <form action = "/login/" method = "POST">
            Username: <input type = "text" name = "user" placeholder = "user"> <br>
            Password: <input type = "password" name = "pass"> <br>
            <input type = "submit" value = "Login" name = "enter">
            <input type = "submit" value = "Register" name = "enter">
        </form>
        <br><br>

</body>
</html>
