{% extends "template1.html" %}

{% block content %}

    <div class="container">
      <div class="row">
	<h1 id="heading">Enter Your City...</h1>
        
        <form  role="form" action="/search/" method="POST">
          <div class="form-group bs-float-label">
            <input id="float-input-1" type="text" class="form-control float-input" placeholder="Where you at?"/>
            <label for="float-input-1" class="float-label">Oh, that's nice</label><br>
          </div>
        </form>
	
      </div>
    </div>

    <div class="transbox">
      <p><a href="/search/" id="link">Or, find me.</a></p>
    </div>

{% endblock %}
