{% extends "template.html" %}

{% block title %}

Home

{% endblock %}


{% block content %}

<h1 id="heading">Test1</h1><br>

<div class="transbox">

    <p>{{ title }}<br>
    by {{ artist }}</p>

  <!--audio objects, because html is cool-->
  <!-- controls: pause; autoplay: autoplay; jscript: reload when finished playing -->
  <audio controls autoplay onended="javascript:window.location.reload();">
    <source src= {{url}} type="audio/mpeg">
  </audio>

</div>

<h1 id="heading">Test2</h1><br>

<div class="transbox">

  <p>Hello part 2.</p>

</div>

{% endblock %}
